 html {
  height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
h1 {
    font-family: 'Margarine', cursive;
    text-align: center;
    font-size: 40px;
}

body {
            height: 100%;
            background-color: #00FFFF;
            margin: 0;
            padding: 0;
        }

        .wrapper {
            width: 1000px;
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto;
        }

        .wrapper:after {
            content: "";
            display: block;
            clear: both;
        }

        div#CONTAINER {
            position: relative;
            width:800px;
            height:540px;
            padding:24px;
            margin:0px auto;
            background: #4A545D;
        }

        div#BALL
        {
            color: black;
            font-size:35px;
            padding: 5px 25px;
            background: #9af600;
            background: linear-gradient(to bottom, #9af600 0%,#71B200 100%);
            display:inline-block;
            border-radius: 25px;
            text-align: center;
            box-shadow: 2px 2px 100px #C1D8E4;
            
            position: absolute;
            top: 115px;
            left: 0;
            bottom: 0;
            right: 0;
            width: 400px;
            height: 40px;
            margin: 0 auto;

            
        
        }

    


        div#memory_info {
            position: absolute;
            width: 150px;
            margin-top: 30px;
            
           
        }

        div#memory_board{
            width:800px;
            height:540px;
            padding:24px;
            margin: 30px auto;
            background: #98FB98;
            float: right;
        }

        div#memory_board > div{
            background-color: #FF69B4;
            border:#FFB6C1 1px solid;
            width:71px;
            height:71px;
            float:left;
            margin:10px;
            padding:20px;
            font-size:54px;
            cursor:pointer;
            text-align:center;
            text-shadow: 2px 2px 4px grey;
            color: #000;
            box-shadow:  2px 2px 6px #FF1493;
            transition: background .10s ease-in-out;
            -moz-transition: background .10s ease-in-out;
            -o-transition: background .10s ease-in-out;
            -webkit-transition: background .10s ease-in-out;
            animation-name: rubberBand;
           -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
            animation-duration: .80s;
        }
        @keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}


        div#input {
            position: absolute;
            margin: 0 auto;
            top: 250px;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 20px;
            text-align: center;
        }

        input {
            margin: 15px 0;
            padding: 3px 7px;
        }

        button {
            width: 100%;
            display: block;
            font-family: 'Margarine', cursive;
            font-size: 15px;
            color: #000;
            text-shadow: 0 -1px rgb(46,53,58);
            text-decoration: none;
            user-select: none;
            line-height: 2em;
            padding: 1px 1.2em;
            outline: none;
            border: 3px #98FB98;
            border-radius: 3px;
            background: #98FB98;
        }

        button:hover {
            background: #00FFFF;
        }

        button:active {
            top: 1px;
            background: #AFEEEE;
        }
        
        .btn {
            width: 240px;
            margin: 5px auto;
        }

        #SP {
            font-weight: bold;
        }

        @media screen and (min-width:480px) and (max-width:1000px) {
            html, body {
                width: 100%;
                height: 100%;
            }
            
            div.wrapper {
                background: #4A545D;
                width: 100%;
                max-width: 700px;
            }
            
            div#CONTAINER {
                position: relative;
                width:100%;
                height:100%;
                padding:5px;
                margin:0px auto;
                background: #4A545D;
            }
            
            div#BALL {
                color: black;
                font-size:14px;
                padding: 5px;
                background: #9af600;
                background: linear-gradient(to bottom, #9af600 0%,#71B200 100%);
                display:inline-block;
                border-radius: 25px;
                text-align: center;
                box-shadow: 2px 2px 100px #C1D8E4;
                
                position: absolute;
                top: 115px;
                left: 0;
                bottom: 0;
                right: 0;
                width: 200px;
                height: 20px;
                margin: 0 auto;

                
                -webkit-animation: myanim 2s;
                animation: myanim 2s;
            }
            
            div#memory_info {
                position: relative;
                padding: 0;
                width: 100%;
            }

            div#memory_board{
                width:100%;
                height: 100%;
                padding:0;
                float: none;
            }

            div#memory_board > div{
                background: url(gray5.jpg) no-repeat;
                width:50px;
                height:50px;
                margin:2px;
                padding:10px;
                font-size:44px;
                cursor:pointer;
                text-align:center;
                text-shadow: 2px 2px 4px black;
            }
            
            button {
                display: inline-block;
                width: 176px;
                font-size: 10px;
            }
            
            button#SP {
                font-weight: 700;
                color: #8EE0F2;
            }
        }

        @media screen and (max-width:479px) {
            html, body {
                width: 100%;
                height: 100%;
            }
            
            div.wrapper {
                background: #4A545D;
                width: 100%;
                max-width: 310px;
            }
            
            div#CONTAINER {
                position: relative;
                width:100%;
                height:100%;
                padding:5px;
                margin:0px auto;
                background: #4A545D;
            }
            
            div#BALL {
                color: black;
                font-size:14px;
                padding: 5px;
                background: #9af600;
                background: linear-gradient(to bottom, #9af600 0%,#71B200 100%);
                display:inline-block;
                border-radius: 25px;
                text-align: center;
                box-shadow: 2px 2px 100px #C1D8E4;
                
                position: absolute;
                top: 115px;
                left: 0;
                bottom: 0;
                right: 0;
                width: 200px;
                height: 20px;
                margin: 0 auto;

                
                -webkit-animation: myanim 2s;
                animation: myanim 2s;
            }
            
            div#memory_info {
                position: relative;
                padding: 0;
                width: 100%;
                float: none;
            }

            div#memory_board{
                width:100%;
                height: 100%;
                padding:0;
                float: none;
            }

            div#memory_board > div{
                background: url(gray5.jpg) no-repeat;
                width:50px;
                height:50px;
                margin:2px;
                padding:10px;
                font-size:44px;
                cursor:pointer;
                text-align:center;
                text-shadow: 2px 2px 4px black;
            }
            
            button {
                display: inline-block;
                width: 150px;
                font-size: 8px;
            }
            
            button#SP {
                font-weight: 700;
                color: #7BCE5A;
            }
        }