.ActiveProduct {
  text-align: center;
  color: black;
  min-width: 360px;
  width: 57%;
  margin: 30px auto;
}
.ActiveProduct div button {
  margin: 30px 5px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background: inherit;
  box-shadow: inherit;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}
.ActiveProduct .flex{
  display: flex;
  justify-content: flex-end;
}
.ActiveProduct div button:hover{
  color: red;
  background: inherit;
  border: 1px solid red;
}

.ActiveProduct .conteiner{
   display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ActiveProduct .table_info table{
  max-width: 60%;
  width:50%;
  min-width: 550px; 
  margin-right: 10px;
}

.ActiveProduct .table_info thead >tr >th{
background: #fafafa91;
padding: 5px 15px;
}
.ActiveProduct .table_info thead >tr >th div{
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 20px;
}
.ActiveProduct .table_info tbody >tr >td{
  padding: 5px 15px;
  
  }
  .ActiveProduct .img_block {
    width: 45%;
    margin: 30px 0 0;
  }
  .ActiveProduct .img_block img{
    transform:  scale(1,1);
    transition:0.3s linear;
    width: 35%;
    border-radius: 25px;
   }
  .ActiveProduct .img_block img:hover{
   transform:  scale(1.3,1.3);
   border-radius: 25px;
  }
  .ActiveProduct .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td{
    background: #D3D3D3;
  }
  .ActiveProduct .ant-btn-primary:active, .ant-btn-primary.active{
    background: inherit;
    color: black;
  }
  .ActiveProduct .ant-btn-primary:active, .ant-btn-primary.active:hover{
    color: red;
  }
  .ActiveProduct .ant-btn-primary:hover, .ant-btn-primary:focus{
    background: inherit;
    color: black;
  }
  .ActiveProduct .ant-btn-primary:hover, .ant-btn-primary:focus:hover{
    color: red;
  }
  @media (max-width: 1440px) {
    .ActiveProduct{
      width: 75%;
    }
  }
  @media (max-width: 930px) {
    .ActiveProduct{
      width: 90%;
    }
    .ActiveProduct .img_block{
      width: 100%;
    }
    .ActiveProduct .img_block img{
      width: 45%;
    }
  }
  @media (max-width: 500px) {
    .ActiveProduct .img_block img{
      width: 80%;
    }
    .ActiveProduct .img_block{
      width: 100%;
    }
    .ActiveProduct .table_info table{
      width:100%;
      min-width: 320px; 
      margin-right: 5px;
    }
    .ActiveProduct .table_info{
      margin: 20px 0 0;
    }
  }