.Header{
  background-color: #f5f5f5;
  height: 15vh;
  box-sizing: border-box;
  display: flex;
flex-direction: column;
align-content: flex-end;
justify-content: flex-end;
min-width: 360px;
}
.Header .PageLink{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header .banner_title_shop{
  display: inline-block;
  background-image: url("../img/png/logo.svg");
  background-repeat: no-repeat;
  width: 200px;
  height: 40px;
  margin: 0 auto;
}
.Header .HeaderCategory{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width:600px){
  .Header{
    height: 20vh;
  }
  .Header .PageLink{
    justify-content: flex-start;
  }
  .Header .banner_title_shop{
    margin-left: -10px;
    transform: scale(0.7);
  }
}
@media all and (max-width:500px){
  .Header{
    height: 20vh;
  }
  .Header .PageLink{
    justify-content: flex-start;
  }
  .Header .banner_title_shop{
    margin-left: -30px;
    transform: scale(0.6);
  }
}