.LoginBar{
  position: fixed;
  top: 30px;
  right: 50px;
  cursor: pointer;
  color: black;
  transition: color, right .22s ease-in;
  z-index: 100;
}

.LoginBar .Button_out{
  margin-left:3px;
}

.LoginBar .ant-btn-primary{
   background: inherit;
   border: 0;
   color: black;
   box-shadow: inherit;
   text-shadow: inherit;
   text-transform: uppercase;
   font-weight: 600;
}

.LoginBar .ant-btn-primary:hover {
  color: red;
}
@media (max-width: 1440px) {
  .LoginBar{
    top: 38px;
  }
}
@media (max-width: 930px) {
  .LoginBar{
    top: 38px;
  }
}
@media all and (max-width:500px){
  .LoginBar{
    top: 27px;
    right: 20px;
  }
}