.Main_conteiner{
  background-color: #f5f5f5;
  min-height: 75vh;
  min-width: 360px;
  width: 38%;
  margin: 0 auto;
  padding: 30px 0;
}
.Main__FlexContainer__News div{
  max-height: 35vh;
  max-width: 35vh;
  min-width: 15vh;
  min-height: 15vh;
  height: 30vw;
  width: 30vw;
  margin: 2% 0px;
  font-size: 16px;
  font-weight: bold;
  color:black;
  box-shadow: inset 0px 0px 277px 3px #313233cc;
  -webkit-box-shadow: inset 0px 0px 277px 3px #313233cc;
  -ms-box-shadow:inset 0px 0px 277px 3px #313233cc;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main__FlexContainer__News div span{
  text-transform: uppercase;
}
.Main__FlexContainer__News{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
 height: 100%;
 align-content: space-around;
}
@media (max-width:1440px){
  .Main_conteiner{
    width: 46%;
  }
}
@media (max-width:1024px){
  .Main_conteiner{
    width: 61%;
  }
}
@media (max-width: 930px) {
  .Main_conteiner{
    width: 79%;
  }
  .Main__FlexContainer__News div{
    max-height: 35vh;
    max-width: 35vh;
    min-width: 150px;
    min-height: 150px;
    height: 40vw;
    width: 45vw;
    margin: 2px 0px;
    font-weight: bold;
    color:black;
  
  }

}
@media (max-width: 768px) {
  .Main_conteiner{
    width: 91%;
  }
}
@media all and (max-width:500px){
  .Main__FlexContainer__News div{
    min-width: 173px;
  }
}