.GoodBlock 
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
}
.GoodBlock h1{
    text-align: left;
}
.GoodBlock p{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    padding: 20px;
    width: 30%;
    margin: 10px 0;
}
.GoodBlock p:hover{
    background-color: #00FFFF;
}
.GoodBlock .InputBlock 
{
    width: 500px;
    text-align: left;
}

.GoodBlock .BlockLabels
{
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    border: 1px solid gray;
    padding: 10px;
}

.GoodBlock .BlockInput 
{
    padding: 6px;
    margin-top: 6px;
    width: 50%;
    margin-left: 3%;
    border: 0;
}

.GoodBlock .BlockMessage
{
    margin-left: 3%;
    color: red;
}

.ButtonBlock 
{
    text-align: left;
}
.Button 
{
    background: gray;
    border: 0;
    color:white;
    cursor: pointer;
    padding: 8px 16px;
    width: 70px;
    margin-right: 40px;
}


.Button:disabled
{
    background: rgb(118, 126, 143, 0.2);
    border: 0;
}