.formProduct {
    font-size: 15px;
     border:solid 1px #5bbc78;
     background: #bdd9be;
     margin: 20px 0;
     padding: 10px;
 }
 .formProduct .headerForm{
     padding: 5px;
 }
 .formProduct form{
     display: flex;
     flex-wrap: wrap;
 }
 .formProduct form p{
     width: 100%;
     margin: 3px;
 }
 .formProduct label{
     display: inline-block;
     width: 80px;
 }
 
 .formProduct input{
     margin-top: 10px;
 }
 .formProduct form input{
     margin-top: 0;
 }