.MyIshop
{
  border: double gray 3px;
  width: 600px;
  padding: 3px 7px;
  background-color: #F0F0F0;
}

.MyIshop .Question
{
  text-align: center;
  font-weight: bold;
}

.MyIshop .Characteristic
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.MyIshop .Answers
{
  padding-top: 5px;
}

.MyIshop .Answers .Answer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  padding: 2px 0;
}

.MyIshop .Answers .Answer .Count
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}

.MyIshop .Answers .Answer .Price
{
  position: absolute;
  left: 180px;
  font-weight: bold;
  
}

.MyIshop .Answers .Answer .Url
{
  position: absolute;
  left: 300px;
}

.MyIshop .Answers .Answer .Text
{
  position: relative;
}