.MyIshop
{
  border-collapse: collapse;
}

.MyIshop .HeadName
{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.MyIshop .TableRow
{
    border: solid 1px black;
    padding: 20px;
}

.MyIshop .CharacteristicHead
{
    font-size: 20px;
    font-weight: bold;
}

.MyIshop .TableRow .TableCell
{
    width: 30%;
    text-transform: uppercase;
}