.ListComponent .GoodRow
{
    background:white;
}

.ListComponent .GoodItem
{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 200px;
    padding: 15px 0;
}

.ListComponent .GoodRowSelected
{
    background:#FFFF00;
}

.ListComponent .Input 
{
    width: 80px;
    height: 30px;
    background: inherit;
    border: 1px solid gray;
    color: black;
    cursor: pointer;
    margin-right: 5px;    
}

.ListComponent .Input:hover{
    background-color: #00FFFF;
}

.ListComponent .Input:disabled 
{
    background: rgb(118, 126, 143, 0.2);
    color: white;
    border: 0;
}